.chumley-button {
  --chumley-link-color: var(--color-white);
  --chumley-link-hover-color: var(--color-white);

  background-color: var(--color-light-sea-green);
  border: 1px solid rgb(0 0 0 / 0%);
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin-block-end: 0;
  padding-block: var(--chumley-size-1x) var(--chumley-size-1x);
  padding-inline: calc(var(--chumley-size-1x) + var(--chumley-size-half)) calc(var(--chumley-size-1x) + var(--chumley-size-half));
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.chumley-button:hover {
  background-color: var(--color-green-crayola);
}
